@import './reboot.scss';
@import './globalVar.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: "Lato", sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
}

input {
  outline: none;
  padding: 3px;
  padding-right: 10px;
}

button {
  border: none;
  padding: 5px 10px;
}

button:hover {
  transform: translateY(-1px);
} 

.app {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 15px;
  background: $main-bg-color;
}

table,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

table {
  width: 100%;
}

tr:hover td {
  background-color: #AFD275;
}

caption {
  caption-side: top;
  border: 1px solid black;
  text-align: center;
}

label {
  position: relative;
  cursor: pointer;
}

input {
  cursor: pointer;
}

thead {
  background-color: #C38D9E;
}

.bg-table {
  background-color: $bg-table-item;
}

.chbCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-38%);
  margin-left: 5px;
}
